/* 폰트 적용 */
html {
    /* 영문이면 roboto가 적용되고, 한글이면 Noto Sans KR가 적용되도록 아래와 같은 순서로 배치 */
    font-family: "Roboto", "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.border-red {
    border: 5px solid red;
}

.border-blue {
    border: 5px solid blue;
}

.border-green {
    border: 5px solid green;
}

.border-gold {
    border: 5px solid gold;
}

.flex {
    display: flex;
}

.flex-jc-c {
    justify-content: center;
}

.flex-ai-c {
    align-items: center;
}

.flex-as-c {
    align-self: center;
}

.flex-grow-1 {
    flex-grow: 1;
}

.block {
    display: block;
}

.height-100p {
    height: 100%;
}

.con {
    margin-left: auto;
    margin-right: auto;
}

.img-box > img {
    width: 100%;
    display: block;
}

.relative {
    position: relative;
}

.strong {
    font-weight: bold;
}

.black {
    color: #000;
}

/* 커스텀 */
.con_min_width {
    min-width: 1080px;
}

.con {
    width: 1080px;
}

.ico {
    background-color: white;
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(/images/img_kabang_220615.png);
}

/* 탑바 시작 */
.top_bar {
    height: 80px;
    width: 100%;
    background-color:#fff;
    font-size: 15px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

/* 로고 */
.top_bar .logo_wrap > a {
    width: 116px;
}

.top_bar .logo_wrap > a > img {
    width: 100%;
}

/* 메뉴 박스 */
.top_bar .menu_box > ul > li > a {
    padding: 0 24px;
    position: relative;
}

.top_bar .menu_box ul > li > a:hover {
    text-decoration: underline;
}

.top_bar .menu_box > ul > li > a::after {
    content: "";
    background-color: #000;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.top_bar .menu_box > ul > li:hover > a::after {
    display: block;
}

/* 메뉴 박스 - 2차 메뉴 */
.top_bar .menu_box > ul > li > div {
    width: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 60px 0 36px 0;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.top_bar .menu_box > ul > li:hover > div {
    display: block;
}

.top_bar .menu_box .menu_box-sec_menu > ul > li {
    width: calc(100% / 6);
}

.top_bar .menu_box > ul > li:first-child .menu_box-sec_menu > ul > li {
    width: calc(100% / 4);
}

.top_bar .menu_box .menu_box-sec_menu > ul > li > a {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

.top_bar .menu_box .menu_box-sec_menu > ul ul > li > a {
    font-size: 13px;
    color: #444;
    text-align: center;
    margin-bottom: 24px;
}

.top_bar .menu_box .menu_box-sec_menu ul li a[target="_blank"]::after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(https://www.kakaobank.com/static/images/web/svg_line_outlink.svg);
    background-size: 14px 14px;
    margin-left: 5px;
    vertical-align: middle;
    margin-top: -4px;
}


/* 관련사이트 */
.top_bar .dropdown {
    position: relative;
}

.top_bar .dropdown .dropBtn {
    background: rgba(244, 244, 244, 0.8);
    color: rgba(68, 68, 68, 1);
    border: 1px solid rgba(229, 229, 229, 0.8);
    padding: 0 14px 0 18px;
    margin: 0 28px 0 14px;
    height: 40px;
    font-size: 15px;
    border-radius: 40px;
    cursor: pointer;
}

/* 이미지 버전 */
.top_bar .dropdown .dropBtn::after {
    content: "";
    display: inline-block;
    margin-left: 10px;
    width: 12px;
    height: 12px;
    background: url(/images/svg_line_arrow_down.svg);
    background-size: 12px 12px;
    transition: transform .3s ease;
}

/* 아이콘 버전 
.top_bar .dropdown .rotate {
    transform: rotate(-180deg);
}
*/
.top_bar .dropdown .rotate::after {
    transform: rotate(-180deg);
}

.top_bar .dropdown .dropdown_content {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    margin-top: 30px;
    width: 240px;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(4px);
    transition: all .1s linear;
    opacity: 0;
}

.top_bar .dropdown .is-active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.top_bar .dropdown .dropdown_content a {
    font-size: 13px;
    display: block;
    padding: 0 24px;
    line-height: 48px;
}

.top_bar .dropdown .dropdown_content a:hover {
    text-decoration: underline;
    background-color: #f7f7f7;
}

.top_bar .dropdown .dropdown_content a::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(https://www.kakaobank.com/static/images/web/svg_line_outlink.svg);
    background-size: 12px 12px;
    margin-left: 8px;
    vertical-align: middle;
    margin-top: -4px;
}

/* 글로벌 로고 */
.top_bar .global_logo {
    display: inline-block;
    width: 20px;
}

.top_bar .global_logo > span > img {
    width: 100%;
    display: block;
}

.top_bar .global_logo:hover > span > img {
    opacity: .3;
}
/* 탑바 끝 */


/* 메인 배너 시작 */
.main_banner {
    margin-top: 80px;
}

.main_banner img {
    width: 1200px;
    margin-left: -60px;
}

.main_banner .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 720px;
    z-index: -1;
    background-color: #ffef6b;
}

/* 메인배너 - 텍스트 */
.main_banner .text_box {
    position: absolute;
    top: 136px;
    left: 30px;
}

.main_banner .text_box > h3 {
    margin: 0;
    font-size: 49px;
    font-weight: bold;
    line-height: 1.4;
}

.main_banner .text_box > .tit_sub {
    font-size: 16px;
    line-height: 1.95;
    opacity: .7;
}

.main_banner .text_box > .btns {
    margin-top: 50px;
}

.main_banner .text_box > .btns > li:first-child {
    padding-right: 12px;
}

.main_banner .text_box > .btns > li > a {
    width: 178px;
    height: 56px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 12px;
    font-size: 16.2px;
    font-weight: bold;
    line-height: 56px;
    color: #333;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner .text_box > .btns > li:hover > a {
    text-decoration: underline;
}

.main_banner .text_box >.btns .ico {
    margin-right: 10px;
}

.main_banner .text_box >.btns .ico_1 {
    background-position: -341px -292px;
}

.main_banner .text_box >.btns .ico_2 {
    background-position: -371px -292px;
}
/* 메인 배너 끝 */


/* 중간섹션 시작 */
/* 공통섹션 시작 */
.md_sec {
    height: 750px;
    display: flex;
}

.md_sec > div:first-child {
    width: 50%;
    display: flex;
    align-items: center;
}

.md_sec > div:last-child {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.md_divider {
    height: 32px;
    background-color: #fafafa;
}

.md_sec .txt_box h3 {
    font-size: 40px;
    line-height: 1.3;
    margin: 0;
}

.md_sec .txt_box p {
    margin-top: 24px;
    font-size: 15px;
    line-height: 1.7;
    color: #666;
}

.md_sec .txt_box .btn_box {
    margin-top: 35px;
    display: flex;
}

.md_sec .txt_box .btn_box a {
    background-color: #f6f6f6;
    width: 258px;
    height: 56px;
    font-size: 16px;
    line-height: 56px;
    color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.md_sec .txt_box .btn_box a img {
    width: 6px;
    height: 9px;
    margin: -2px 0 0 8px;
}
/* 공통섹션 끝 */

/* 섹션 1 시작 */
.md_sec_1 > div:first-child > * {
    margin-left: 40px;
}

.md_sec_1 > div:last-child > * {
    margin-left: 90px;
}

.md_sec_1 .img-box {
    width: 473px;
}
/* 섹션 1 끝 */

/* 섹션 2 시작 */
.md_sec_2 > div:first-child > * {
    margin-left: 70px;
}

.md_sec_2 > div:last-child > * {
    margin-left: 120px;
}

.md_sec_2 .img-box {
    width: 409px;
}

.md_sec_2 .img-box > img {
    transform: translateX(20%);
    opacity: 0;
    transition: all, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}

.md_sec_2 .img-box.active > img {
    transform: translateX(0);
    opacity: 1;
}

.md_sec_2 .txt_box > .btn_box > a {
    width: 158px;
}

.md_sec_2 .txt_box > .btn_box > a:first-child {
    margin-right: 6px;
}

.md_sec_2 .txt_box > .img_box_1 {
    width: 440px;
    margin-top: 60px;
}

.md_sec_2 .txt_box > .img_box_1 > img {
    display: block;
    width: 100%;
}
/* 섹션 2 끝 */

/* 섹션 3 시작 */
.md_sec_3 > div:first-child > * {
    margin-left: 57px;
}

.md_sec_3 > div:last-child > * {
    margin-left: 90px;
}

.md_sec_3 .img-box {
    width: 459px;
}
/* 섹션 3 끝 */

/* 섹션 4 시작 */
.md_sec_4 {
    height: 650px;
}
.md_sec_4 > div:first-child > * {
    margin-left: 130px;
}

.md_sec_4 > div:last-child > * {
    margin-left: 40px;
}

.md_sec_4 .img-box {
    width: 492px;
}
/* 섹션 4 끝 */

/* 섹션 5 시작 */
.md_sec_5 > div:first-child > * {
    margin-left: 75px;
}

.md_sec_5 > div:last-child > * {
    margin-left: 90px;
}

.md_sec_5_wrap {
    height: 750px;
    background: #fff url(/images/home_map.png) no-repeat -12% 50%;
}
.md_sec_5 .img-box {
    width: 408px;
}

.md_sec_5 .img-box > img {
    transform: translateY(20%);
    opacity: 0;
    transition: all, transform 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s, opacity 1.4s cubic-bezier(0.6, 0.2, 0.1, 1) 0.5s;
}

.md_sec_5 .img-box.active > img {
    transform: translateY(0);
    opacity: 1;
}
/* 섹션 5 끝 */
/* 중간섹션 끝 */


/* 대출박스 시작 */
.loan_box {
    position: relative;
    background-color: #333b58;
    color: #fff;
}

.loan_box > .con {
    position: relative;
}

.loan_box > .sky {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.loan_box > .sky > .blue {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #559cde;
    transition: height .85s;
}

.loan_box.active > .sky > .blue {
    height: 0;
}

.loan_box > .sky > .moon {
    width: 112px;
    height: 112px;
    position: absolute;
    top: 200px;
    left: calc(50% + 450px);
    overflow: hidden;
}

.loan_box > .sky > .moon > .base {
    width: 110px;
    height: 110px;
    background-color: #ffdc00;
    border-radius: 50%;
    transition: background-color .85s;
}

.loan_box.active > .sky > .moon > .base {
    background-color: #fff;
}

.loan_box > .sky > .moon > .shadow {
    width: 100%;
    height: 100%;
    background-color: #333b58;
    position: absolute;
    top: -100%;
    left: -100%;
    border-radius: 50%;
    transition: top .85s .3s, left .85s .3s;
}

.loan_box.active > .sky > .moon > .shadow {
    top: -23%;
    left: -23%;
}

/* 대출박스 - 별 시작 */
.loan_box > .sky .ico-star {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #fff;
}

.loan_box > .sky .ico-star-1 {
    top: 30%;
    left: 10%;
}

.loan_box > .sky .ico-star-2 {
    top: 10%;
    left: 20%;
}

.loan_box > .sky .ico-star-3 {
    top: 25%;
    left: 15%;
}

.loan_box > .sky .ico-star-4 {
    top: 40%;
    right: 15%;
}

.loan_box > .sky .ico-star-5 {
    top: 43%;
    right: 30%;
}

.loan_box > .sky .ico-star-6 {
    top: 73%;
    right: 27%;
}

.loan_box > .sky .ico-star-7 {
    top: 65%;
    left: 22%;
}

@keyframes clittering {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(0.9);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

.ico-star-1 {
    animation: clittering 2s infinite;
}

.ico-star-2 {
    animation: clittering 3s infinite;
}

.ico-star-3 {
    animation: clittering 5s infinite;
}

.ico-star-4 {
    animation: clittering 2s infinite;
}

.ico-star-5 {
    animation: clittering 4s infinite;
}

.ico-star-6 {
    animation: clittering 1.8s infinite;
}

.ico-star-7 {
    animation: clittering 3.5s infinite;
}
/* 대출박스 - 별 끝 */

.loan_box .txt_box {
    padding-top: 160px;
    z-index: 100;
    position: relative;
    text-align: center;
}

.loan_box .txt_box > h3 {
    font-size: 40px;
    line-height: 1.35;
    margin: 0;
}

.loan_box .txt_box > p {
    font-size: 15px;
    line-height: 1.7;
    margin-top: 24px;
    opacity: .6;
}

.loan_box .menu_box {
    margin-top: 25px;
}

.loan_box .menu_box > ul > li:not(:first-child) {
    margin-left: 6px;
}

.loan_box .menu_box > ul > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 52px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.09);
    line-height: 51;
}

.loan_box .menu_box > ul > li:hover > a {
    text-decoration: underline;
}

.loan_box .menu_box > ul > li > a > img {
    width: 6px;
    height: 9px;
    margin-left: 8px;
}

.loan_box .img_box_1 > img {
    width: 429px;
    height: 563px;
    display: block;
    margin: 25px auto 0 auto;
}
/* 대출박스 끝 */


/* 체크카드 시작 */
.checkcard_box {
    padding-top: 150px;
    height: 1062px;
}

.checkcard_box h3 {
    font-size: 40px;
    line-height: 1.35;
    text-align: center;
}

.checkcard_box p {
    font-size: 15px;
    margin-top: 24px;
    line-height: 1.7;
    color: #666;
    text-align: center;
}

.checkcard_box .btn_box {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.checkcard_box .btn_box > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 258px;
    height: 56px;
    line-height: 56px;
    color: #666;
    background-color: #f6f6f6;
    border-radius: 10px;
    font-size: 16px;
}

.checkcard_box .btn_box:hover > a {
    text-decoration: underline;
}

.checkcard_box .btn_box > a > img {
    width: 6px;
    height: 9px;
    margin-left: 8px;
    margin-top: 1px;
    display: block;
}

/* 슬라이드 시작 */
.checkcard_box .slider_box {
    position: relative;
    width: 660px;
    height: 441px;
    margin: 80px auto 0 auto;
}

.checkcard_box .slider_box .slick .item > .img-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.checkcard_box .slider_box .slick .item.slick-center {
    transform: scale(1.17);
    /* left: -115px;
    position: relative; */
}

.checkcard_box .slider_box .slick-center+.slick-active {
    /* left: -115px;
    position: relative; */
}

.checkcard_box .slider_box > .arrows > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    right: calc(100% + 100px);
}

.checkcard_box .slider_box > .arrows > div:last-child {
    left: calc(100% + 100px);
    right: auto;
}

.checkcard_box .slider_box > .arrows > div:active {
    transform: translateY(-45%);
}


/* 슬라이드 끝 */
/* 체크카드 끝 */


/* IT 기술 박스 시작 */
.itskill_box {
    background-color: #f9f9f9;
    padding-top: 160px;
    padding-bottom: 120px;
}

.itskill_box h3 {
    font-size: 40px;
    line-height: 1.35;
    text-align: center;
}

.itskill_box .divider {
    width: 100px;
    height: 2px;
    background-color: #000;
    margin: 50px auto 140px;
}

.itskill_box .txt_box > .bg_divider {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #eee;
    left: 0;
    transform: translateY(135px);
    /* top: 583px; 카카오뱅크*/
}

.itskill_box .txt_box > .img-box {
    position: relative;
}

.itskill_box .txt_box > .img-box,
.itskill_box .txt_box ul {
    width: 1020px;
    margin: 0 auto;
}

.itskill_box .txt_box ul > li {
    width: 255px;
    height: 210px;
    text-align: center;
}

.itskill_box .txt_box ul > li > strong {
    display: block;
    margin: 45px 0 17px;
    font-size: 18px;
}
.itskill_box .txt_box ul > li > p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
/* IT 기술 박스 끝 */


/* footer 시작 */
footer {
    background-color: #eee;
}

footer .box_1 {
    padding: 20px 0 16px;
    color: #666;
    font-size: 11px;
}

footer .box_1 > .menu_box > ul > li {
    display: inline-block;
    padding: 6px 15px;
    position: relative;
}

footer .box_1 > .menu_box > ul > li:not(.not)::after {
    content: "";
    background-color: #d8d8d8;
    width: 1px;
    height: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1px;
}

footer .box_1 > .menu_box > ul > li.not {
    padding-left: 0;
}

footer .box_1 > .menu_box > ul > li.not2 {
    padding-right: 0;
}

footer .box_1 > .menu_box > ul > li:hover > a {
    text-decoration: underline;
}

footer .box_2 {
    color: #888;
    font-size: 12px;
}

footer .box_2 .txt_busi_tel {
    color: #000;
    padding: 0 6px;
}

footer .box_2 .info_copyright {
    margin-top: 6px;
    font-size: 11px;
}

footer .box_3 {
    padding-top: 12px;
    padding-bottom: 18px;
    color: #666;
}

footer .box_3 .license_1 img {
    width: 46px;
}

footer .box_3 .license_2 {
    margin-left: 20px;
}

footer .box_3 .license_2 img {
    width: 42px;
}

footer .box_3 .license_1 span,
footer .box_3 .license_2 span {
    margin-left: 8px;
    font-size: 13px;
    font-weight: bold;
}

footer .box_3 > .menu_box_2 ul {
    margin-right: 40px;
}

footer .box_3 > .menu_box_2 ul > li {
    margin-left: 10px;
}

footer .box_3 > .menu_box_2 ul > li > a {
    width: 24px;
    height: 24px;
}

footer .box_3 > .menu_box_2 .ico_sns {
    height: 100%;
    background: url(/images/ico_sns.png);
}

footer .box_3 > .menu_box_2 .ico_sns_facebook {
    background-position: 0 -90px;
}

footer .box_3 > .menu_box_2 .ico_sns_instagram {
    background-position: -191px -138px;
}

footer .box_3 > .menu_box_2 .ico_sns_youtube {
    background-position: -90px -90px;
}

footer .box_3 > .menu_box_2 .ico_sns_brunch {
    background-position: -217px -138px;
}
/* footer 끝 */